<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<h1>Dashboard</h1>

<a href="/update/">Update</a><br>

    Company Name :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.companyName}}<br><br>
    Desginate Person :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{profile.designatePerson}}<br><br>
    Founder/Co-Founder :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{profile.founderCofounder}}<br><br>
    website:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.website}}<br><br>
    Mobile :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.mobile}}<br><br>
    Address :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.address}}<br><br>
    City  :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.city}}<br><br>
    State :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.state}}<br><br>
    Pincode :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.pincode}}<br><br>
    Facebook Id :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.facebook}}<br><br>
    Linkedin Id :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.linkedin}}<br><br>
    Twitter :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.twitter}}<br><br>
    Insustry/Sector:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.industry}}<br><br>




<!--<form action="/login/" method="post">-->
      <!--{% csrf_token %}-->
    <!--Email:       {{login_form.email}}<br>-->
    <!--Password:     {{login_form.password}}<br>-->
     <!--<input type="submit" VALUE="Submit">-->
<!--</form>-->


</body>
</html>